.containerTitle{
  display: flex;
  justify-content: center;
}

.textTitle{
  color: white;
  margin-top: 50px;
}

.containerProfileContent{
  margin-top:50px;
  margin-left: 0px;
  display:flex;
  flex-direction: column;
  align-items: center;
}